<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="{{ site.baseurl }}/mystyles.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
        <p></p>
    </header>
    <nav>
        <ul class="nob">
            <li><img class="float" src="{{ site.baseurl }}/swshlogo.jpg" height="160" alt="M Niemi's Website" /></li>
            <li><a href="https://micaelaniemi.github.io/website/index.html">Home</a></li>
            <li><a href="https://micaelaniemi.github.io/website/advertisers.html">Advertisers</a></li>
            <li><a href="https://micaelaniemi.github.io/website/favlinks.html">Favorite Links</a></li>
            <li><a href="https://micaelaniemi.github.io/website/books.html">Book Links</a></li>
            <li><a href="https://micaelaniemi.github.io/website/values.html">Informative Links</a></li>
            <li><a href="https://micaelaniemi.github.io/website/abortion.html">Abortion</a></li>
            <li><a href="https://micaelaniemi.github.io/website/resume.html">Resume</a></li>
            <li><a href="https://micaelaniemi.github.io/website/adventures.html">Adventures</a></li>
            <li><a href="https://micaelaniemi.github.io/website/feedback.html">Feedback</a></li>
            <li><a href="https://micaelaniemi.github.io/website/donations.html">Donations</a></li>
        </ul>
    </nav>
     <div id="calendar"></div>
    
    <div id="main">
   
        {{ content }}
        
    </div>
        
    <button id="backToTop" title="Back to Top">✞</button>
    
</body>
</html>
